.badge {
  border-radius: 50%;
  display: inline-block;
  width: 12px;
  height: 12px;
  &--green {
    background-color: #42b883;
  }
  &--blue {
    background-color: #64c4ed;
  }
  &--grey {
    background-color: #c9d1d3;
  }
  &--pink {
    background-color: #ffbbcc;
  }
}
